.home__section {
  position: relative;
}
.home__image > img {
  mask-image: linear-gradient(to bottom, var(--dark-color), var(--transparent));
  object-fit: cover;
}

.main__container {
  position: absolute;
  top: 50%;
  width: 100%;
}
