.categoryProduct__container {
  padding: var(--x-1) 0;
  display: grid;
  gap: 1.5rem;
}
.categoryProduct__title {
  text-transform: capitalize;
  font-weight: var(--semi-bold);
}

/*====================== MEDIA QUERIES =====================*/
/* ------------- For Medium Device ------------- */
@media screen and (min-width: 576px) {
  .categoryProduct__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ------------- For Tablet, Laptop ------------- */
@media screen and (min-width: 768px) {
  .categoryProduct__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ------------- For Large Device ------------- */
@media screen and (min-width: 1024px) {
  .categoryProduct__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* ------------- For Extra Large Device ------------- */
@media screen and (min-width: 1200px) {
}
