.product__card {
  display: flex;
  flex-direction: column;
  /* box-shadow: var(--shadow); */
  background-color: var(--white-color);
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: var(--x-1);
}
.product__card--title {
  font-weight: var(--medium);
  font-size: var(--h4-font);
  color: var(--dark-color);
}
.product__card--title:hover {
  text-decoration: underline;
}
.product__card--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__card--footer img {
  max-height: 13rem;
  object-fit: cover;
}
.product__card--footer button {
  background-color: var(--orange-color) !important;
  border: var(--border);
  margin-top: var(--x-1-25);
  border-color: #a88734 #9c7e31 #846a29;
  color: var(--dark-color);
  padding: var(--x-0-25) var(--x-0-75);
  font-size: var(--small-font);
  text-transform: capitalize;
}
