.searchReasult {
  height: max-content;
  min-height: 100vh;
  background-color: var(--body-color);
  width: 100%;
}
.searchResult__container {
  display: grid;
  gap: 1rem;
}
.searchResult__close {
  display: block;
  text-align: right;
  margin-top: -1rem;
  margin-bottom: var(--x-0-75);
}
/*====================== MEDIA QUERIES =====================*/
/* ------------- For Medium Device ------------- */
@media screen and (min-width: 576px) {
  .searchResult__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ------------- For Tablet, Laptop ------------- */
@media screen and (min-width: 768px) {
  .searchResult__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ------------- For Large Device ------------- */
@media screen and (min-width: 1024px) {
  .searchResult__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* ------------- For Extra Large Device ------------- */
@media screen and (min-width: 1200px) {
}
