/*================ GOOGLE FONTS ================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*================ CSS VARIABLES ================*/
:root {
  /* Colors */

  --dark-blue-color: hsl(214, 27%, 10%); /* 214, 27%, 10% */
  --orange-color: hsl(34, 99%, 70%);
  --orange-alt-color: hsl(34, 88%, 62%);
  --dark-color: hsl(0, 0%, 0%);
  --white-color: hsl(0, 0%, 100%);
  --white-alt-color: hsl(0, 0%, 92%);
  --body-color: hsl(180, 8%, 92%);
  --gray-color: hsl(0, 0%, 42%);
  --gray-alt-color: hsl(0, 1%, 70%);
  --red-color: hsl(6, 78%, 57%);
  --transparent: transparent;
  --gradient-color: linear-gradient(
    to top,
    var(--orange-alt-color),
    hsla(34, 100%, 88%, 0.993)
  );
  --gradient-alt-color: linear-gradient(
    to top,
    var(--white-alt-color),
    var(--white-color)
  );

  /* Fonts and Typography --> normal to small screen */ /* 0.0625rem = 1px */
  --biggest-font: 3rem;
  --big-font: 2rem;
  --h1-font: 1.5rem; /* 24px */
  --h2-font: 1.25rem; /* 20px */
  --h3-font: 1.0625rem; /* 17px */
  --h4-font: 1rem; /* 18px */
  --normal-font: 0.938rem; /* 15px */
  --small-font: 0.813rem; /* 13px */
  --smaller-font: 0.75rem; /* 12px */
  --smallest-font: 0.625rem; /* 10px */

  /* Font Family */
  --Poppins-font: "Poppins", sans-serif;

  /* Font Weight */
  --light: 300;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --bolder: 800;

  /* Margenes/Paddings */
  --x-0-25: 0.25rem; /* 4px */
  --x-0-5: 0.5rem; /* 8px */
  --x-0-75: 0.75rem; /* 12px */
  --x-1: 1rem; /* 16px */
  --x-1-25: 1.25rem; /* 20px */
  --x-1-5: 1.5rem; /* 24px */
  --x-1-75: 1.75rem; /* 28px */
  --x-2: 2rem; /* 32px */
  --x-2-5: 2.5rem; /* 40px */
  --x-2-75: 2.75rem; /* 44px */
  --x-3: 3rem; /* 48px */

  /* Z Index */
  --z-1: 1;
  --z-9: 9;
  --z-10: 10;
  --z-99: 99;
  --z-999: 999;

  /* Others */
  --hidden: hidden;
  --scale: scale(1.1);
  --transition: all 300ms ease-out;
  --header-height: 3.5rem;
  --radius: 0.2rem;
  --border: 0.0625rem solid;
  --shadow: 0 0.125rem 2rem var(--white-alt-color);
  --shadow-orange: 0 0 0.5rem var(--orange-alt-color);
  --shadow-alt: 0 0.125rem 0.625rem var(--gray-alt-color);
}

/* Fonts and Typography --> big screen */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font: 5rem;
    --big-font: 3rem;
    --h1-font: 2.25rem; /* 36px */
    --h2-font: 1.75rem; /* 24px */
    --h3-font: 1.25rem; /* 20px */
    --h4-font: 1.125rem; /* 18px */
    --normal-font: 1rem; /* 16px */
    --small-font: 0.875rem; /* 14px */
    --smaller-font: 0.813rem; /* 13px */
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--Poppins-font);
  font-size: var(--normal-font);
  overflow: overlay;
  background-color: var(--body-color);
}
@media screen and (max-width: 768px) {
  body {
    margin: var(--header-height) 0;
  }
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button,
input,
select {
  border: none;
  outline: none;
  font-size: var(--normal-font);
  font-family: var(--Poppins-font) !important;
}
input {
  padding: 0 var(--x-0-5);
}
button {
  cursor: pointer;
}
button:disabled {
  color: var(--gray-alt-color);
  pointer-events: auto !important;
  cursor: not-allowed !important;
}
img {
  max-width: 100%;
  height: auto;
}
.loader,
.error__text {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--white-alt-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.loader {
  z-index: var(--z-999);
}
.error__text {
  font-size: var(--h4-font);
}
/*================ REUSEABLE CSS ================*/
section {
  padding: var(--x-1) 0;
}
.container {
  margin-left: var(--x-1);
  margin-right: var(--x-1);
}

/*====================== MEDIA QUERIES =====================*/
/* ------------- For Medium Device ------------- */
@media screen and (min-width: 576px) {
  :root {
    --header-height: 4rem;
  }
}

/* ------------- For Tablet, Laptop ------------- */
@media screen and (min-width: 768px) {
  section {
    padding: var(--x-1-5) 0;
  }
  .container {
    margin-left: var(--x-1-5);
    margin-right: var(--x-1-5);
  }
}

/* ------------- For Large Device ------------- */
@media screen and (min-width: 1024px) {
  section {
    padding: var(--x-1-75) 0;
  }
  .container {
    margin-left: var(--x-1-75);
    margin-right: var(--x-1-75);
  }
}
/* ------------- For Extra Large Device ------------- */
@media screen and (min-width: 1200px) {
  section {
    padding: var(--x-2) 0;
  }
}

/*================ CSS ALL FILES ================*/
@import "./Styles/Header.css";
@import "./Styles/Home.css";
@import "./Styles/BannerSlider.css";
@import "./Styles/Categories.css";
@import "./Styles/ProductByCategory.css";
@import "./Styles/Product.css";
@import "./Styles/ProductDetails.css";
@import "./Styles/SearchResult.css";
@import "./Styles/SignUpSignIn.css";
@import "./Styles/Basket.css";
@import "./Styles/BasketCard.css";
@import "./Styles/ShippingForm.css";

::-webkit-scrollbar {
  width: 0.6rem;
  /* background-color: var(--white-color); */
}
::-webkit-scrollbar-thumb {
  width: 0.6rem;
  background-color: var(--gray-alt-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-color);
}

/* =============== SMALL COMPONENTS ================= */
.rating .rating__icon .MuiSvgIcon-root {
  color: var(--orange-alt-color);
  font-size: var(--h3-font);
}
/*====================== MEDIA QUERIES =====================*/
/* ------------- For Medium Device ------------- */
@media screen and (min-width: 576px) {
}

/* ------------- For Tablet, Laptop ------------- */
@media screen and (min-width: 768px) {
}

/* ------------- For Large Device ------------- */
@media screen and (min-width: 1024px) {
}
/* ------------- For Extra Large Device ------------- */
@media screen and (min-width: 1200px) {
}
